body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* common style */
.h2-style {
  font-size: 36px;
  text-align: center;
  color: #333;
  margin: 100px;
}

/* header */

#header {
  width: 100%;
}

#header ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  list-style-type: none;
  margin: 0;
  gap: 20px;
}

#header ul li {
  width: 20%;
  height: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
}

#header ul li:hover {
  background-color: #9ebbff;
}

#header ul li:hover a {
  color: white;
}

#header ul li a {
  text-decoration: none;
  color: #9ebbff;
  font-weight: bold;
  display: block;
  width: 100%;
  height: 100%;
}

/* intro section */

#intro-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

#intro-content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#intro-content h1 {
  font-size: 48px;
  color: #333;
  margin-bottom: 20px;
}

#intro-content p {
  font-size: 24px;
  color: #626262;
  max-width: 600px;
  text-align: center;
}

#inner-intro-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px;
}

/* labs section */

#labs-content {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  justify-items: center;
  align-items: center;
}

#labs-content ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  list-style-type: none;
  padding: 0;
  gap: 20px;
  width: 100%;
}

#labs-content ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 240px;
  border: 3px solid #b2c9ff;
  background-color: #dee8ff;
  border-radius: 24px;
  font-size: 20px;
}

#labs-content ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* projects section */

#projects-content {
  width: 100%;
  /* height: 100%; */
}

#projects-content ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding: 0;
  gap: 30px;
}

#projects-content ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  border-radius: 24px;
  font-size: 20px;
}

#projects-content img {
  width: 100%;
  margin-right: 10px;
  margin-bottom: 30px;
  border-radius: 24px;
  object-fit: cover;
}

#projects-content ul li a {
  text-decoration: none;
  text-align: center;
  color: #333;
  font-weight: bold;
  width: 100%;
  height: 100%;
}

/* career section */

#career-content {
  width: 100%;
  padding-bottom: 100px;
}

#career-content ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  height: 100%;
  padding: 0;
  gap: 30px;
}

#career-content ul li {
  overflow: hidden;
  width: 300px;
  height: 350px;
  border-radius: 24px;
  font-size: 20px;
  box-shadow: #bebebe 2px 2px 10px;
}

#career-content ul li a {
  text-decoration: none;
  color: #333;
}

#career-content img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.org_name {
  text-align: center;
  font-size: 16px;
  margin: 10px;
  font-weight: bold;
}

.visit {
  font-size: 14px;
  color: #555;
  margin: 100px auto auto 24px;
}

/* footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #f1f1f1;
}
